/* .searchPage {
} */

.searchPage__logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.searchPage__header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.searchPage__headerBody > .search > .search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage__options {
  display: flex;
  align-items: center;
  color: grey;
}

.searchPage__options a,
.searchPage__optionsRight a {
  text-decoration: none;
  color: gray;
}

.searchPage__optionsRight,
.searchPage__optionsLeft {
  display: flex;
}

.searchPage__optionsRight {
  margin-left: 80px;
}

.searchPage__option {
  border: 1px solid lightgray;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 6px 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchPage__option a {
  margin-left: 5px;
}

.searchPage__result {
  border: 2px solid lightgray;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  border-radius: 5px;
  margin: 40px 0;
}

.searchPage__results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 135px;
  margin-bottom: 100px;
}

.searchPage__resultTitle {
  color: rgb(57, 57, 245);
  text-decoration: none;
}

.searchPage__resultTitle:hover {
  text-decoration: underline;
}
.searchPage__resultSnippet {
  margin-top: 10px;
  font-style: italic;
}

.searchPage__resultCount {
  color: #70757a;
  font-size: 14px;
}

.searchPage__resultTitle > h2 {
  font-weight: 500;
  font-style: oblique;
}

.searchPage__resultImage {
  object-fit: contain;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: -5px;
}

.searchPage__resultLink {
  color: rgb(41, 28, 226);
  font-style: oblique;
}
